doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hishab_Kitab Notes
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js' integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0' crossorigin='anonymous')
        style 
            include ./../src/css/index.css
            include ./../src/css/indexx.css
    body
        .mainheadin.container
            h1.heading
                span.n N
                | otes
        .navigation.container
            nav.navbar.navbar-expand-lg.navbar.navbar-dark.bg-dark
                .container-fluid
                    a.navbar-brand.headings(href='/')
                        span.n N
                        | otes
                    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
                         span.navbar-toggler-icon
                    #navbarNavDropdown.collapse.navbar-collapse
                        ul.navbar-nav
                            li.nav-item
                                a.nav-link(href='/myexpanses')
                                    i.fas.fa-inr
                                    | New Expenses
                            li.nav-item
                            a.nav-link(href='/mynotes')
                                i.fas.fa-sticky-note
                                | My Note
                            li.nav-item
                                a.nav-link(href='/about')
                                    i.fas.fa-info-circle
                                    | About
                            li.nav-item.dropdown
                                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                    i.fas.fa-user-circle
                                    | #{allinfo.name}
                                ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                                    li
                                        a.dropdown-item(href='/mynotes')
                                            i.fas.fa-key
                                            | My Notes
                                        a.dropdown-item(href='/')
                                            i.fas.fa-key
                                            | My Expanses
                                    li
                                        a.dropdown-item(href='/logout')
                                            i.fas.fa-user-plus
                                            | Logout
        

        .container.imfECO 
            img.img-fluid.scd(src="./images/ECO.svg", alt="" width=200 height=300)

        .container.mkbg
            