doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Notes
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js' integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0' crossorigin='anonymous')
        style 
            include ./../src/css/index.css
            include ./../src/css/note.css
        
    body
        .mainheadin.container
            h1.heading
                span.n N
                | otes
        .navigation.container
            nav.navbar.navbar-expand-lg.navbar.navbar-dark.bg-dark
                .container-fluid
                    a.navbar-brand.headings(href='/')
                        span.n N
                        | otes
                    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
                         span.navbar-toggler-icon
                    #navbarNavDropdown.collapse.navbar-collapse
                        ul.navbar-nav
                            li.nav-item
                                a.nav-link(href='/myexpanses')
                                    i.fas.fa-inr
                                    | My Expenses
                            li.nav-item
                            a.nav-link(href='/mynotes')
                                i.fas.fa-sticky-note
                                | My Note
                            li.nav-item
                                a.nav-link(href='/about')
                                    i.fas.fa-info-circle
                                    | About
                            li.nav-item.dropdown
                                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                    i.fas.fa-user-circle
                                    | #{allinfo.name}
                                ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                                    li
                                        a.dropdown-item(href='/delete/All')
                                            i.fas.fa-key
                                            | Delete All Notes
                                    li
                                        a.dropdown-item(href='/logout')
                                            i.fas.fa-user-plus
                                            | Logout
        


        .container.imgopt 
            .imgoption
                img.img-fluid(src='./images/notes.jpg')

        .container.box 
            button.btn.btn-secondary#submitIt(type='button' data-bs-toggle='modal' data-bs-target='#staticBackdrop')
                | Add Notes
    
            #staticBackdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5#staticBackdropLabel.modal-title Modal title
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            form(action="/savemynotes", method="post") 

                                textarea.form-control(name="mynotes", rows="3" cols="30" required) 

                        .modal-footer
                            button.btn.btn-danger(type='button' data-bs-dismiss='modal') Close
                            button.btn.btn-warning#saveit(type='button') Add Notes
            


        hr

        //- -var color = [dark,primary,secondary,info,light,success,warning,danger]

        .container.cards
            //- for i,j in notes
               
            //-     .card.text-white.bg-primary.mb-3(style='max-width: 18rem;')
            //-         .card-header My Notes
            //-         .card-body
            //-             h5.card-title #{notes[j].date}
            //-             p.card-text #{notes[j].notes}
            //-         .card-footer 
            //-             a.btn.btn-primary(href="#") Delete Note
    script
            include ./../src/javascript/note.js




