
@font-face {

    src :url('/../fonts/new.ttf');
    font-family: new;
}

.c {
    color: red;
    font-family: new;
}


.edit{
    text-align: center;
}

.date{
    margin-top: 25px;
    display: flex;
    justify-content:space-evenly;
    flex-direction:row;
}

.previewdata {
    margin-top:23px;
}

.jk
{
    margin: 10px;
    margin-top: 10px;
    display: flex; 
    flex-direction:row; 
    justify-content: space-evenly;
}


form{
    overflow-y: auto;
    height :500px;
    display : flex;
    justify-content:space-evenly;
    margin-bottom: 25px;

}
.tit{

  font-weight: 500;
}

.amm{
    font-weight: 500;
   
}

.btn{
    margin-top:10px;
    padding:10px;

}

input[type="button"]
{
    margin:10px;
}


input[type="submit"]
{
    margin:10px;
}

input[type="text"]
{
    margin:10px;
}

.dt{
    margin: 10px;
    width :100%;
}

.cut{
    font-size:25px;
    cursor: pointer;
}

.go{
  display: flex;
  justify-content:center;
  align-items:center;
    margin-top:16px;
}

.go a{
    margin-bottom: 15px;
}