.imgopt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}