.imgopt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.box {
    
    margin-top: 20px;
}

textarea{
    width: 100%;
}
form{
    margin-top: 10px;

}
.note{
    margin-top: 15px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: grid;
    /* flex-direction: row; */
   grid-row: 3;
}