.charts{
    display:flex;
    justify-self: center;
    align-items: center;
    flex-direction:column;
    overflow-x: auto;
}

canvas{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    overflow-x: auto;
}

#myChart{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

@font-face {

    src :url('/../fonts/new.ttf');
    font-family: new;
}

.n {
    color: red;
    font-family: new;
}

.item  {
    color:red;
    font-family: new;
}
.ammount{
    color:red;
    font-family: new;
}
h3{
    letter-spacing:3px
    margin10px
}


.tabledata{

    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
  
}

.mahak{
    display: flex;
    justify-content:space-around;
    align-items:center;
    background-color: black;
    color:white;
    position: sticky;
    top: 50px;
    z-index: 99;
}

.but{
    display: flex;
    justify-content:center;
    align-items:center;
 
    
}
.btn-danger{
    margin-left: 10px;
}
label {
    margin-top: 25px;

}